<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Страны</title>
    <link rel="stylesheet" th:href="@{/css/css/style.css}">
    <style>
        .card-container {
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
        }
        .card {
            flex: 0 0 calc(33.333% - 20px);
        }
        .add-button {
            margin-top: 20px;
            margin-right: 20px;
        }
    </style>
</head>
<body class="container-md">
<h1>Страны</h1>

<div class="card-container">
    <div th:each="country : ${countries}">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title" th:text="${country.name}"> Country</h5>
                <p class="card-text" th:text="${country.days}">Days</p>
                <a th:href="@{/api/v2/country/findName(name=${country.name})}">Подробнее</a>
                <a th:href="@{/api/v2/country/updateByName}">Изменить</a>
                <a th:href="@{/api/v2/country/deleteById}">Удалить</a>
            </div>
        </div>
    </div>
</div>
<a class="btn btn-secondary add-button" th:href="@{/api/v2/country/saveCountry}">Добавить страну</a>
<a class="btn btn-secondary add-button" th:href="@{/api/v2/sunrise_sunset}">Восход и закат солнца</a>
</body>
</html>
