<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add Country</title>
    <style>
        .day-fields {
            margin-top: 10px;
        }
    </style>
</head>
<body>
<h2>Add Country</h2>
<p th:if="${errorMessage}" th:text="${errorMessage}"></p>
<form th:action="@{/api/v2/country/saveCountry}" th:object="${country}" method="post">
    <div>
        <label for="name">Name:</label>
        <input type="text" id="name" th:field="*{name}" placeholder="Name" required>
    </div>
    <div>
        <label for="capital">Capital:</label>
        <input type="text" id="capital" th:field="*{capital}" placeholder="Capital" required>
    </div>
    <div>
        <label for="population">Population:</label>
        <input type="number" id="population" th:field="*{population}" placeholder="Population" required>
    </div>
    <div>
        <label for="language">Language:</label>
        <input type="text" id="language" th:field="*{language}" placeholder="Language" required>
    </div>
    <!-- Добавление полей для дней -->
    <div class="day-fields" th:each="day : ${country.days}">
        <div>
            <label for="dateOfSunriseSunset">Date of Sunrise/Sunset:</label>
            <input type="date" id="dateOfSunriseSunset" th:field="*{day.dateOfSunriseSunset}" placeholder="Date of Sunrise/Sunset" required>
        </div>
        <div>
            <label for="timeOfSunrise">Time of Sunrise:</label>
            <input type="time" id="timeOfSunrise" th:field="*{day.timeOfSunrise}" placeholder="Time of Sunrise">
        </div>
        <div>
            <label for="timeOfSunset">Time of Sunset:</label>
            <input type="time" id="timeOfSunset" th:field="*{day.timeOfSunset}" placeholder="Time of Sunset">
        </div>
        <div>
            <label for="weatherConditions">Weather Conditions:</label>
            <input type="text" id="weatherConditions" th:field="*{day.weatherConditions}" placeholder="Weather Conditions">
        </div>
    </div>
    <button type="submit">Add Country</button>
</form>
<a href="/api/v2/country/list">Back to Country List</a>
</body>
</html>
