<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Восход и закат солнца</title>
    <link rel="stylesheet" th:href="@{/css/css/style.css}">
    <style>
        .card-container {
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
        }
        .card {
            flex: 0 0 calc(33.333% - 20px);
        }
        .add-button {
            margin-top: 20px;
            margin-right: 20px;
        }
    </style>
</head>
<body class="container-md">
<h1>Восход и закат солнца</h1>

<div class="card-container">
    <div th:each="day : ${days}">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title" th:text="${day.location}">Location</h5>
                <p class="card-text">
                    Время восхода: <span th:text="${day.timeOfSunrise}">Sunrise Time</span><br>
                    Время заката: <span th:text="${day.timeOfSunset}">Sunset Time</span><br>
                    Дата: <span th:text="${day.dateOfSunriseSunset}">Date</span><br>
                    Координаты: <span th:text="${day.coordinates}">Coordinates</span><br>
                    Погодные условия: <span th:text="${day.weatherConditions}">Weather Conditions</span>
                </p>
                <a th:href="@{/api/v2/sunrise_sunset/updateSunriseSunset}">Изменить</a>
                <a th:href="@{/api/v2/sunrise_sunset/deleteByCoordinates}">Удалить</a>
            </div>
        </div>
    </div>
</div>
<a class="btn btn-secondary add-button" th:href="@{/api/v2/sunrise_sunset/saveSunriseSunset}">Добавить событие</a>
</body>
</html>
